[user]
	name = Jimvid
	mail = victor@jimvid.com
	email = victor@jimvid
[init]
	defaultBranch = main
[core]
	excludesfile = home/jimvid/.gitignore
[includeIf "gitdir:~/dev/work/"]
    path = ~/dev/work/.gitconfig
